.body {
    margin-top: 20px;
    height: 100%;
    font-weight: bolder;
    background:inherit;
    font-family: inherit;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.message_area {
    overflow-y: auto;
    overflow-wrap: break-word;
    height: 100%;
    width: 90%;
    margin-left: 5%;
    position: relative;
    padding: 10px;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: 10px 10px 20px #0d0d0d,
    -10px -10px 20px #353535;
}

.bubble {
    padding: 5px;
    padding-top: 3px;
    border-bottom: 1px solid rgba(245, 245, 220, 0.144);
}

.bubble:hover {
    background-color: rgb(66, 66, 66);
}

.bubble:hover .delete {
    opacity: 1;
}

.message {
    padding: 5px;
    padding-left: 20px;
}

.username_btn{
    right: 0;
    padding: none;
    font-size: inherit;
    height: 40px;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    max-width: 180px;
    font-family: inherit;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color:#f9f9f9;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-size:15px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}

.username_btn:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
.username_btn:active {
	position:relative;
	top:1px;
}

.message_input {
    margin-right:10px;
    font-family: inherit;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s;
    z-index: 10;
    background: inherit;

}

.username_error{
    font-size: smaller;
    color: rgb(235, 111, 29);
    animation: shake 0.3s;
}

@keyframes shake {
    0% {
        transform: translateX(-5px);
    }

    20% {
        transform: translateX(0);
    }

    40% {
        transform: translateX(5px);
    }

    60% {
        transform: translateX(0);
    }

    80% {
        transform: translateX(-3px);
    }

    100% {
        transform: translateX(0);
    }
}