.body {
    width: 25%;
    font-weight: bolder;
    margin-top: 20px;
}

.message_area {
    overflow-y: auto;
    overflow-wrap: break-word;
    height: 90%;
    width: 100%;
    position: relative;
    padding: 10px;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: 10px 10px 20px #0d0d0d,
    -10px -10px 20px #353535;
    cursor: pointer;
}

.bubble {
    padding: 5px;
    padding-top: 3px;
    border-bottom: 1px solid rgba(245, 245, 220, 0.144);
}

.bubble:hover {
    background-color: rgb(66, 66, 66);
}

.bubble:hover .delete {
    opacity: 1;
}

.message {
    padding: 5px;
    padding-left: 20px;
}

.username_btn{
    right: 0;
    padding: none;
    font-size: inherit;
    background-color: white;
    height: 40px;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    margin-top: 0.625rem;
    max-width: 180px;
    font-family: inherit;
    color: black;
}

.message_input {
    margin-right:10px;
    font-family: inherit;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s;
    z-index: 10;
    background: inherit;

}

.username_error{
    font-size: smaller;
    color: rgb(235, 111, 29);
    animation: shake 0.3s;
}

@keyframes shake {
    0% {
        transform: translateX(-5px);
    }

    20% {
        transform: translateX(0);
    }

    40% {
        transform: translateX(5px);
    }

    60% {
        transform: translateX(0);
    }

    80% {
        transform: translateX(-3px);
    }

    100% {
        transform: translateX(0);
    }
}