.body {
    color: yellow;
    background-color: #212121;
    width: 25%;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bolder;
    margin-top: 20px;
}

.message_area {
    overflow-y: auto;
    overflow-wrap: break-word;
    height: 80%;
    width: 100%;
    position: relative;
    padding: 10px;
    border: 2px solid white;
    border-radius: 15px;
    background: linear-gradient(145deg, #1e1e1e, #232323);
    box-shadow: 10px 10px 20px #0d0d0d,
    -10px -10px 20px #353535;
}

.bubble {
    padding: 5px;
    padding-top: 3px;
    border-bottom: 1px solid rgba(245, 245, 220, 0.144);
}

.bubble:hover {
    background-color: rgb(66, 66, 66);
}

.bubble:hover .delete {
    opacity: 1;
}

.message {
    padding: 5px;
    padding-left: 20px;
}