.body {
    width: 25%;
    margin-top: 20px;
    font-weight: bolder;
    background:inherit;
    font-family: inherit;
}

.input_message{
    width: 100%;
    display: block;
    margin-top: 10px;
}

.input_message input {
    width: 70%;
    height: 50px;
    margin-right:10px;
    font-family: inherit;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s;
    color: black;
    z-index: 10;
}

.input_message input:focus {
    transform: scale(1.05);
    box-shadow: 10px 10px 20px #0d0d0d,
    -10px -10px 20px #353535;
}

.input_message button {
    text-transform: uppercase;
    border: none;
    outline: none;
    border-radius: 4px;
    height: 40px;
    width: 80px;
    background-color: rgb(155, 47, 255);
    color: white;
    transition: all 0.4s;
}

.input_message button:active {
    transform: translateY(2px);
}

.message_area{
    overflow-y: auto;
    height: 80%;
    width: 100%;
    position: relative;
    padding: 10px;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: 10px 10px 20px #0d0d0d,
    -10px -10px 20px #353535;
}

.bubble{
    padding: 5px;
    padding-top: 3px;
}

.username {
    font-size: small;
}

.message {
    padding: 5px;
    padding-left: 20px;
    font-size: 12px;

}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.send{
    overflow:hidden;
    background: linear-gradient(145deg,#f81f01,#ee076e);
    padding: 0px 10px;
    background-color:white;
    text-align: center;
    cursor:pointer;
    margin:0;
    text-transform: capitalize;
    border-radius:1.5rem;
    font-size:1.125rem;
    transition: all 0.5s;
}

.overlay:active{
    border:rgb(244, 248, 6) solid 4px;
}

.giphy{
    margin-top: 20px;
    transition: all 0.3s;
    display: block;
    z-index: 1;
    font-weight: 100;
}

.giphy_text{
    font-size: small;
}

.giphy_close{
    float: right;
    height: fit-content;
    font-weight: bolder;
}

.giphy_close:hover{
    text-decoration: underline;
    cursor: pointer;
}

.single_giphy{
    text-align: center;
    object-position: center;
    width: 100%;
}

.message_type{
    background-color: white;
    color: black;
    min-height: 30px;
    border-radius: 4px;
    padding: 10px;
    margin-top: 5px;
    width: 85%;
    margin-left: 5%;
    font-size: 14px;
}

.message_type:hover {
    cursor: pointer;
    box-shadow:  20px 20px 60px #363636,
                -20px -20px 60px #000000;
}

.extra_type{
    line-height: 0.5;
    text-align: center;
    color :#d1d1d1
}

.extra_type span {
  display: inline-block;
  position: relative;  
}

.extra_type span:before,
.extra_type span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid rgba(245, 245, 220, 0.144);
  top: 0;
  width: 600px;
}

.extra_type span:before {
  right: 100%;
  margin-right: 15px;
}

.extra_type span:after {
  left: 100%;
  margin-left: 15px;
}