.body {
    display: inline-block;
    position: relative;
    color: yellow;
    background-color: rgb(24, 23, 23);
    width: 25%;
    right: 0;
    top: 0;
    padding-top: 20px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bolder;
    margin-top: 20px;
}

.input_message{
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
}

.input_message input {
    width: 70%;
    top: 90%;
    height: 50px;
    margin-right:10px;
    font-family: inherit;
    border-radius: 5px;
    outline: none;
}

.input_message input:focus {
    border: rgb(7, 177, 177) solid 3px;
    border-radius: 4px;
}

.input_message button {
    text-transform: uppercase;
    font-family: inherit;
    border: none;
    outline: none;
    border-radius: 4px;
    height: 40px;
    width: 80px;
    background-color: rgb(155, 47, 255);
    color: white;
}

.message_area{
    overflow-y: auto;
    height: 80%;
    width: 100%;
    position: relative;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
}

.bubble{
    padding: 5px;
    padding-top: 3px;
    border-bottom: 1px solid rgba(245, 245, 220, 0.144);
}

.bubble:hover{
    background-color: rgb(66, 66, 66);
}

.username {
    font-size: small;
}

.message {
    padding: 5px;
    padding-left: 20px;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.send{
    overflow:hidden;
    color:#7408f0;
    padding: 0px 10px;
    border:2px solid #7408f0;
    background-color:white;
    text-align: center;
    cursor:pointer;
    margin:0;
    text-transform: uppercase;
    border-radius:1.5rem;
    font-size:1.125rem;
    transition: all 0.5s;
}

.overlay:hover{
    border:#7408f0 solid 4px;
}

.overlay:active{
    border:rgb(244, 248, 6) solid 4px;
}

.giphy_text{
    font-size: small;
    padding: 10px 0;
}

.giphy_close{
    float: right;
    height: fit-content;
}

.giphy_close:hover{
    text-decoration: underline;
}

.single_giphy{
    text-align: center;
    object-position: center;
    width: 100%;
}