.body {
    display: inline-block;
    position: relative;
    color: yellow;
    background-color: rgb(24, 23, 23);
    width: 25%;
    right: 0;
    top: 0;
    padding-top: 20px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bolder;
}

.input_message{
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
}

.input_message input {
    width: 70%;
    top: 90%;
    height: 50px;
    margin-right:10px;
    font-family: inherit;
    border-radius: 5px;
    outline: none;
}

.input_message input:focus {
    border: rgb(7, 177, 177) solid 3px;
    border-radius: 4px;
}

.input_message button {
    text-transform: uppercase;
    font-family: inherit;
    border: none;
    outline: none;
    border-radius: 4px;
    height: 40px;
    width: 80px;
}

.message_area{
    overflow-y: auto;
    height: 80%;
    width: 100%;
    position: relative;
    margin: 10px;
    padding: 10px;
}

.bubble{
    padding-top: 3px;
    border-bottom: 1px solid rgba(245, 245, 220, 0.144);
}

.username {
    font-size: small;
}

.message {
    padding: 5px;
    padding-left: 20px;
}