.body {
    width: 25%;
    font-weight: bolder;
    margin-top: 20px;
}

.input_message{
    width: 100%;
    display: block;
    margin-top: 10px;
}

.input_message input {
    height: 50px;
    margin-right:10px;
    font-family: inherit;
    border-radius: 5px;
    outline: none;
    color: black;
    transition: all 0.3s;
    width: 100%;
}

.input_message input:focus {
    transform: scale(1.05);
    box-shadow: 10px 10px 20px #0d0d0d,
        -10px -10px 20px #353535;
}

.input_message button {
    text-transform: uppercase;
    font-family: inherit;
    border: none;
    outline: none;
    border-radius: 4px;
    height: 40px;
    background-color: rgb(155, 47, 255);
    color: white;
    width: fit-content;
    margin-top: 10px;
    margin-left: 10px;
}

.message_area{
    overflow-y: auto;
    overflow-wrap: break-word;
    height: 80%;
    width: 100%;
    position: relative;
    padding: 10px;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: 10px 10px 20px #0d0d0d,
    -10px -10px 20px #353535;
}

.bubble{
    padding: 5px;
    padding-top: 3px;
    border-bottom: 1px solid rgba(245, 245, 220, 0.144);
}

.bubble:hover{
    background-color: rgb(66, 66, 66);
}

.bubble:hover .delete{
    opacity: 1;
}

.delete{
    font-size: x-small;
    opacity: 0;
    display: inline-block;
}

.delete:hover{
    text-decoration: underline;
    cursor: pointer;
}



.username {
    font-size: small;
}

.message {
    padding: 5px;
    padding-left: 20px;
}