.body {
    margin-top: 20px;
    height: 100%;
    width: 100%;
    font-weight: bolder;
    background:inherit;
    font-family: inherit;
    display: flex;
    flex-direction: column;
}

.input_message{
    width: 95%;
    display: block;
    margin-top: 20px;
}

.input_message input {
    height: 50px;
    margin-left: 5%;
    font-family: inherit;
    border-radius: 5px;
    outline: none;
    color: black;
    transition: all 0.3s;
    width: 90%;
}

.input_message input:focus {
    box-shadow: 10px 10px 20px #0d0d0d,
        -10px -10px 20px #353535;
}

.input_message button {
    text-transform: uppercase;
    font-family: inherit;
    border: none;
    outline: none;
    border-radius: 4px;
    height: 40px;
    background-color: rgb(155, 47, 255);
    color: white;
    width: fit-content;
    margin-top: 10px;
    margin-left: 5%;
}

.message_area{
    overflow-y: auto;
    overflow-wrap: break-word;
    height: 90%;
    width: 90%;
    margin-left: 5%;
    position: relative;
    padding: 10px;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: 10px 10px 20px #0d0d0d,
    -10px -10px 20px #353535;
}

.bubble{
    padding: 5px;
    padding-top: 3px;
    border-bottom: 1px solid rgba(245, 245, 220, 0.144);
}

.bubble:hover{
    background-color: rgb(66, 66, 66);
    cursor: pointer;
}

.bubble:hover .delete{
    opacity: 1;
}

.delete{
    font-size: x-small;
    opacity: 0;
    display: inline-block;
}

.delete:hover{
    text-decoration: underline;
    cursor: pointer;
}



.username {
    font-size: small;
}

.message {
    padding: 5px;
    padding-left: 20px;
}

.active_item{
    color: black;
    background: linear-gradient(145deg,#f81f01,#ee076e);
    border-radius: 5px;
}

.error{
    color: red;
    margin-left: 5%;
    margin-top: 5px;
    font-size: smaller;
    animation: shake 0.3s;
}

@keyframes shake {
    0% {
        transform: translateX(-5px);
    }

    20% {
        transform: translateX(0);
    }

    40% {
        transform: translateX(5px);
    }

    60% {
        transform: translateX(0);
    }

    80% {
        transform: translateX(-3px);
    }

    100% {
        transform: translateX(0);
    }
}