
.player {
    height: 100%;
    width: 100%;
    z-index: 10;
    border-radius: 34px;
    box-shadow: 14px 14px 12px #161616,
    -14px -14px 12px #2c2c2c;
    transition: all 0.9s;
}   
.react_player {
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
}
